* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f9f9f9;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
}

.contact-info h1{
  margin-bottom: 30px;
}

.contact-info {
  flex: 1;
  padding: 30px;
}

.contact-info h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info span{
  color: #666;
}

.contact-info li {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.contact-info li img {
  width: 50px;
  margin-right: 15px;
}


.form-container {
  flex: 1;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 400px; 
  text-align: center;
  position: relative;
}

.form-container h2 {
  font-size: 24px; 
  margin-bottom: 10px;
}

.form-container p {
  font-size: 16px; 
  margin-bottom: 20px;
  color: #666;
}

.highlight {
  color: #3AB54A; 
}

label {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  display: block;
  margin-bottom: 5px;
}

.required {
  color: red;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

input:focus, textarea:focus {
  border-color: #3AB54A;
  outline: none;
}

button {
  background-color: #3AB54A;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  background-color: #2e8c3a;
}

#resultMessage {
  margin-top: 20px;
  font-size: 14px;
}

.success {
  color: green;
}

.error {
  color: red;
}
